body {
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh; /* Asegura que ocupa toda la altura de la pantalla */
}
main {
    background-color: #102C57;
    overflow-y: auto; /* Permite que el contenido se desplace si es demasiado grande */
    color: whitesmoke;
    font-size: 20px;
    padding: 20px 50px;
}
.gif {
    height: 500px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    margin-top: 15%;
    margin-right: 50px;
}
.cuerpo {
    display: flex;
    justify-content: space-around;
}
.cuerpo p {
    transform: translateX(-100%);
    opacity: 0;
    animation: 2s slidein-left ease-in-out 0.5s forwards; /* forwards es para que se mantenga el cambio tras la animación */
}
h2.titulo {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    color: whitesmoke;
    transition: 0.5s;
}
h2.titulo:hover {
    transform: skew(-10deg);
}
.tablaVideo {
    display: flex;
    justify-content: space-evenly;
}
table {
    width: 50%;
    transform: translateX(100%);
    opacity: 0;
    animation: 2s slidein-right ease-in-out 0.5s forwards; /* forwards es para que se mantenga el cambio tras la animación */
}
th {
    font-size: 25px;
}
li {
    margin: 5px 0;
}
a {
    color: whitesmoke;
}
iframe {
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    margin-bottom: 50px;
    transition: 1s;
}
iframe:hover {
    transform: scale(0.75);
    opacity: 0.75;
}

@keyframes slidein-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slidein-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}