body {
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh; /* Asegura que ocupa toda la altura de la pantalla */
}
main {
    background-color: #102C57;
    overflow-y: auto; /* Permite que el contenido se desplace si es demasiado grande */
    color: whitesmoke;
    font-size: 20px;
    padding: 20px 50px;
}
.gif {
    height: 500px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    margin-top: 15%;
    margin-right: 50px;
}
.cuerpo {
    display: flex;
    justify-content: space-around;
}
h2.titulo {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    color: whitesmoke;
}
.tablaVideo {
    display: flex;
    justify-content: space-evenly;
}
table {
    width: 50%;
}
th {
    font-size: 25px;
}
li {
    margin: 5px 0;
}
a {
    color: whitesmoke;
}
iframe {
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    margin-bottom: 50px;
}