body {
    background-color: wheat;
}
h1 {
    font-size: 35px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    color: #1E201E;
}
.capital-W {
    font-size: 40px;
}
.capital-S {
    font-size: 40px;
    color: #102C57;
}
.sups {
    color: #102C57;
}
.menu {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 50px;
}
a {
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    color: #102C57;
    text-decoration: none;
}