.header {
    background-color: wheat;
    font-family: 'Franklin Gothic Medium';
    padding: 1px 0 30px 0;
}
.titulo {
    font-size: 50px;
    text-align: center;
    color: #1E201E;
}
.capital-W {
    font-size: 55px;
}
.capital-S {
    font-size: 55px;
    color: #102C57;
}
.sups {
    color: #102C57;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu-option {
    margin: 0px 10px;
    font-size: 25px;
    font-weight: bold;
    color: #102C57;
    text-decoration: none;
}