<div class="border p-3 d-flex flex-column bg-light">
    <h3>Exercises</h3>
    <hr>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex01']" routerLinkActive="btn" >Exercise 1</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex02']" routerLinkActive="btn" >Exercise 2</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex03']" routerLinkActive="btn" >Exercise 3</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex04']" routerLinkActive="btn" >Exercise 4</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex05']" routerLinkActive="btn" >Exercise 5</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex06']" routerLinkActive="btn" >Exercise 6</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex07']" routerLinkActive="btn" >Exercise 7</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex08']" routerLinkActive="btn" >Exercise 8</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex09']" routerLinkActive="btn" >Exercise 9</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex10']" routerLinkActive="btn" >Exercise 10</a>
</div>