body {
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
strong:not(#fp strong) {
    color: purple;
}
@media (min-width: 1201px) {
    .container {
        display: flex;
    }
    .column {
        width: 33.33%;
    }
}
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-family: Arial, sans-serif;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        width: 50%;
    }
}
@media (max-width: 600px) {
    body {
        font-family: "Times New Roman", serif;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    .container {
        display: block;
    }
}